.heading {
    font-size: 23px;
    width:100%;
    margin:0px;
    box-shadow: 3px 3px 3px grey;
}
.note{
    color:black;
    font-size:15px;
}
.footer{
    position:fixed;
    width:100%;
    bottom:0;
    color:aliceblue;
    background-color: dimgrey;
    text-align: center;
    line-height:3;
}
canvas{
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 10px rgba(dimgrey);
}